.card {
    margin-top:25px;
    background:black;
}

.card-header {
    position: relative;
    padding: 0;
    margin: 0;
}

.card-body  {
    background: white;
    color:black;
    height: 160px;
}
.card-body p {
    background: white;
    color:black;
}

.card-body a {
    background: #00bfe7;
}

/* Imagen */

.card-header figure img {
    transition: all 500ms ease-out;
}

.card-header figure .capa {
    position: absolute;
    top:0;
    background:rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-out;
}

.card-header figure .capa p {
    background:transparent;
    color:white;
    text-align: center;
    margin: 0 10px;
}

.card-header figure .capa h3 {
    background:transparent;
    color:white;
    text-align: center;
    padding-top: 30px;
    
}

.card-header figure:hover .capa{
    opacity: 1;
    visibility: visible;
}

/*Boton*/

.btn{
    color:white;
}

.btn-pt{
    position: absolute;
    bottom: 20px;
}

.btn-pt2 {
    position: absolute;
    bottom: 20px;
}

.btn2{
    margin-left:40%;
}

.ocultar{
    display:none;
}

@media screen and (max-width: 960px) {
    .card-body{
        height: 240px;
    }
    .btn{
        width: 80%;
    }
    .btn2{
        margin:40px 0 0 0;
        width: 80%;
    }
    .btn-pt{
        position: absolute;
        bottom: 20px;
    }

    .btn-pt2 {
        position: absolute;
        bottom: 70px;
    }
}