
.contenedor-cont {
    display: flex;
    margin-top:30px;
    padding-bottom: 50px;
}

.main1-cont {
    width: 40%;
    margin-left: 7%;
}

.main2-cont {
    width: 40%;
    margin-left: 50px;
    margin-top:5px;
}

@media screen and (max-width: 960px) {
    .contenedor-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .main1-cont {
        width: 80%;
        margin-left: 0;
    }
    
    .main2-cont {
        width: 80%;
        margin-left: 0px;
        margin-top: 50px;
    }
}
