
 .subtitulo p {
   color: #fff !important;
   font-size: 18px !important;
   letter-spacing: 2px !important ;
   text-transform: uppercase !important;
   text-align: center; 
 }
 .centrar{
     display:flex;
     justify-content: center;
     }
 
 
 /*Botones*/
 
 .btn-home{
   position: relative;
   top:10px;
   display: inline-block;
   padding: 15px 10px;
   color:#fff;
   letter-spacing: 2px;
   font-size: 15px;
   font-weight: 700;
   font-family: "Play", sans-serif;
   text-transform: uppercase;
   text-decoration: none;
   overflow: hidden;
   transition: 0.2s;
   border: 1px solid  #00bfe7;
   border-radius: 5px;
 }
 
 .btn-home:hover{
   background: #00bfe7 ;
   box-shadow: 0 0 10px #00bfe7, 0 0 40px #00bfe7 , 0 0 80px  #00bfe7;
   transition-delay: 1s ;
   text-decoration: none;
   color:#fff;
 }
 
 .btn-home span {
   position:  absolute;
   display: block;
 }
 
 #span1{
   top:0;
   left:-100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg,transparent,  #00bfe7);
   
 }
  
 .btn-home:hover #span1 {
   left:100%;
   transition: 1s;
 }
 
 #span3{
   bottom:0;
   right:-100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(270deg,transparent,  #00bfe7);
 }
  
 .btn-home:hover #span3 {
   right:100%;
   transition: 1s;
   transition-delay:0.5s;
 }
 
 #span2{
   top:-100%;
   right:0%;
   width: 2px;
   height:100%;
   background: linear-gradient(180deg,transparent,  #00bfe7);
 }
  
 .btn-home:hover #span2 {
   top:100%;
   transition: 1s;
   transition-delay: 0.25s;
 }
 
 #span4{
   bottom:-100%;
   left:0%;
   width: 2px;
   height: 100%;
   background: linear-gradient(360deg,transparent,  #00bfe7);
 }
  
 .btn-home:hover #span4 {
   bottom:100%;
   transition: 1s;
   transition-delay: 0.75s;
 }
 
 /*Responsive*/
 
 @media screen and (max-width: 960px) {
   .contenedor-total{
     position: absolute;
     top:120px;
     left: 0%;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     margin: 0;
     padding: 0;
   }
 
   .contenedor {
     justify-content: center;
     margin:0 auto;
   }
 
    .subtitulo{
      text-align: center;
    }
 
    .gn{
     text-align: center;
     font-size: 35px !important;
     line-height:35px !important;
     
    }
 
    .btn-home{
    width: 80%;
    text-align: center;
    margin-left:5%;
   
     }
 
    .img1{  
      margin:30px auto 0 auto;
      padding: 0 30px;
      z-index: 30;
    }

    .boton {
      padding-bottom: 40px;
    }
 
 }
 