.container {
    margin-top:10%;
}

.carta {
   
    position: relative;
    overflow: hidden;
}

.carta:before {
    position: absolute;
    content: '';
    width: 80%;
    height: 220%;
    background: rgb(0,191,231,0.7);
    top:-50%;
    left:-100%;
    z-index:30;
    transform: rotate(25deg);
    transform-origin: center top 0 ;
    transition: .5s;
}

.carta:hover:before {
    left:10%
}

.carta img {
    width: 100%;
    height: 230px;
}

.carta-texto{
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top:-100%;
    color:#fff;
    left:0;
    z-index: 30;
    transition: 1.1s;
    background: transparent !important;
}
.carta-texto h4{
    background: transparent !important;
}

.carta:hover .carta-texto {
    
    top: 80px;
    background:transparent !important;
}